<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stringConstants</key>
	<dict>
		<key>social</key>
		<dict>
			<key>instagram</key>
			<string></string>
			<key>youtube</key>
			<string></string>
			<key>facebook</key>
			<string></string>
			<key>vk</key>
			<string></string>
		</dict>
		<key>userAgreement</key>
		<string>https://www.technolab.com.ru/files/eula_armenian.docx</string>
		<key>mainTitle</key>
		<string>ArmeniaGuide</string>
		<key>mailto</key>
		<string>support@assembly.am</string>
		<key>rateUrl</key>
		<string>itms-apps://itunes.apple.com/us/app/id1412624238?action=write-review&amp;mt=8</string>
		<key>placeTitle</key>
		<string>Venues</string>
		<key>placeTabBarURL</key>
		<string>/screens/byshort/5c1386d2e3ccec0017da28ab</string>
		<key>bestTabBarURL</key>
		<string>/screens/events?query[dictionary]=5a673061e97c730010ac6281&amp;query[dictionary_data.tags][0]=5bf3d301fbfa7e2810341f46</string>
		<key>loyaltyEmail</key>
		<string>WCIT@primeconcept.co.uk</string>
		<key>loyaltyPhone</key>
		<string>+37443364440</string>
	</dict>
	<key>appearance</key>
	<dict>
		<key>colors</key>
		<dict>
			<key>storyBorder</key>
			<string>#d8575c</string>
			<key>navigationText</key>
			<string>#000000</string>
			<key>bookButton</key>
			<string>#8E2126</string>
			<key>firstTint</key>
			<string>#8E2126</string>
			<key>secondTint</key>
			<string>#D71440</string>
		</dict>
	</dict>
	<key>thirdParties</key>
	<dict>
		<key>google</key>
		<string>AIzaSyCkcUzG56OtBW34McEoflAIW2c_z-4xZOM</string>
		<key>crashlytics</key>
		<string></string>
		<key>amplitude</key>
		<string>eed09092f37527967957280f3d831f5a</string>
		<key>appmetrica</key>
		<string>c4fec605-cf1a-4c32-8779-ecaa10b7d7a5</string>
		<key>facebook</key>
		<string>422224891598421</string>
		<key>vk</key>
		<string>6701334</string>
		<key>youtube</key>
		<string>AIzaSyBmtjJfunziru9kFT90B5ZzoH8LRfuT_NU</string>
	</dict>
	<key>url</key>
	<dict>
		<key>apiToken</key>
		<string>365e0bb0-e846-11e8-9f32-f2801f1b9fd1</string>
		<key>api</key>
		<string>https://ef.technolab.com.ru/v1</string>
	</dict>
	<key>modules</key>
	<dict>
		<key>tabs</key>
		<array>
			<string>BestEvents</string>
			<string>Places</string>
			<string>Home</string>
			<string>Map</string>
			<string>Profile</string>
		</array>
		<key>languages</key>
		<array>
			<string>en</string>
			<string>ru</string>
		</array>
	</dict>
</dict>
</plist>
