<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ad</key>
	<dict>
		<key>parameters</key>
		<dict>
			<key>adf_pt</key>
			<string>b</string>
			<key>adf_p2</key>
			<string>fksh</string>
			<key>adf_p1</key>
			<string>cabog</string>
			<key>adf_ownerid</key>
			<string>270901</string>
		</dict>
		<key>block</key>
		<string>R-M-187883-1</string>
	</dict>
	<key>stringConstants</key>
	<dict>
		<key>social</key>
		<dict>
			<key>instagram</key>
			<string>https://www.instagram.com/moscowseasons/</string>
			<key>youtube</key>
			<string>https://www.youtube.com/channel/UC9uxLdqBz3ms23A6Q_zkWUQ</string>
			<key>facebook</key>
			<string>https://www.facebook.com/moscowseasons</string>
			<key>vk</key>
			<string>https://vk.com/moscowseasons</string>
		</dict>
		<key>userAgreement</key>
		<string>https://moscowseasons.ru/ru/oferta</string>
		<key>privacyPolicy</key>
		<string>https://moscowseasons.ru/ru/privacy_policy</string>
		<key>mainTitle</key>
		<string>MoscowSeasons</string>
		<key>mailto</key>
		<string>support@primepass.ru</string>
		<key>rateUrl</key>
		<string>itms-apps://itunes.apple.com/us/app/moscow-fest/id1272698802?action=write-review&amp;mt=8</string>
		<key>placeTitle</key>
		<string>Venues</string>
		<key>placeTabBarURL</key>
		<string>/screens/places</string>
		<key>bestTabBarURL</key>
		<string>/screens/events?query[dictionary_data.tags][$in][]=5bf3d301fbfa7e2810341f46</string>
	</dict>
	<key>appearance</key>
	<dict>
		<key>colors</key>
		<dict>
			<key>storyBorder</key>
			<string>#7069BA</string>
			<key>navigationText</key>
			<string>#000000</string>
			<key>bookButton</key>
			<string>#272361</string>
			<key>firstTint</key>
			<string>#272361</string>
			<key>secondTint</key>
			<string>#D71440</string>
		</dict>
	</dict>
	<key>thirdParties</key>
	<dict>
		<key>google</key>
		<string>AIzaSyCp282f8_5PbGwrHJLzPVPcbcN9l1DE1OI</string>
		<key>crashlytics</key>
		<string></string>
		<key>amplitude</key>
		<string>fda591ec8c476b0abb6de5b610d63a74</string>
		<key>appmetrica</key>
		<string>a19cb0f0-c63d-436f-ba19-c08aa8ba9781</string>
		<key>facebook</key>
		<string>346654075836647</string>
		<key>vk</key>
		<string>6690521</string>
		<key>youtube</key>
		<string>AIzaSyACZo19_1p01BTHUdKxc6Nq9m_R3E7eSSI</string>
	</dict>
	<key>url</key>
	<dict>
		<key>apiToken</key>
		<string>fd31f6e0-ddd7-44c4-bac2-3095a47ff1eb</string>
		<key>api</key>
		<string>https://mf.technolab.com.ru/v1</string>
		<key>webApi</key>
		<string>https://mftickets.technolab.com.ru/mc</string>
	</dict>
	<key>url-stage</key>
	<dict>
		<key>apiToken</key>
		<string>fd31f6e0-ddd7-44c4-bac2-3095a47ff1eb</string>
		<key>api</key>
		<string>https://mf-stage.navigator.technolab.com.ru/v1</string>
		<key>webApi</key>
		<string>https://mftickets-stage.navigator.technolab.com.ru/mc</string>
	</dict>
	<key>modules</key>
	<dict>
		<key>tabs</key>
		<array>
			<string>Home</string>
			<string>BestEvents</string>
			<string>Scan</string>
			<string>Map</string>
			<string>Profile</string>
		</array>
		<key>languages</key>
		<array>
			<string>en</string>
			<string>ru</string>
			<string>zh</string>
		</array>
	</dict>
</dict>
</plist>
