<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stringConstants</key>
	<dict>
		<key>social</key>
		<dict>
			<key>instagram</key>
			<string>https://instagram.com/tretyakov_gallery</string>
			<key>youtube</key>
			<string>https://www.youtube.com/user/stg</string>
			<key>facebook</key>
			<string>https://facebook.com/tretyakovgallery</string>
			<key>vk</key>
			<string>https://vk.com/tretyakovgallery</string>
		</dict>
		<key>userAgreement</key>
		<string>https://placeruls.technolab.com.ru/tretyakov_rules.html</string>
		<key>privacyPolicy</key>
		<string>https://placeruls.technolab.com.ru/tretyakov_confidpolicy.html</string>
		<key>mainTitle</key>
		<string>Третьяковская галерея</string>
		<key>mailto</key>
		<string>support@primepass.ru</string>
		<key>rateUrl</key>
		<string>itms-apps://itunes.apple.com/us/app/id1328264312?action=write-review&amp;mt=8</string>
		<key>placeTitle</key>
		<string>Venues</string>
		<key>placeTabBarURL</key>
		<string>/screens/byshort/5c1386d2e3ccec0017da28ab</string>
		<key>bestTabBarURL</key>
		<string>/screens/events?query[dictionary_data.tags][$in][]=5bf3d301fbfa7e2810341f46</string>
	</dict>
	<key>appearance</key>
	<dict>
		<key>colors</key>
		<dict>
			<key>navigationText</key>
			<string>#000000</string>
			<key>bookButton</key>
			<string>#B39670</string>
			<key>firstTint</key>
			<string>#AD8B64</string>
			<key>secondTint</key>
			<string>#D71440</string>
		</dict>
	</dict>
	<key>thirdParties</key>
	<dict>
		<key>google</key>
		<string>AIzaSyA9knYDIej3KZGyMAjY3ehTTsCE6Izn9wQ</string>
		<key>crashlytics</key>
		<string></string>
		<key>amplitude</key>
		<string>e92cb13357a66fd1678651000b55d4ff</string>
		<key>appmetrica</key>
		<string>2549b511-ca7a-47d3-aa31-52b0fa98d34f</string>
		<key>facebook</key>
		<string>129200494450436</string>
		<key>vk</key>
		<string>6707939</string>
		<key>youtube</key>
		<string>AIzaSyC1IYON0ar57pmxf_5KfArMf1528_g5T5U</string>
	</dict>
	<key>url</key>
	<dict>
		<key>apiToken</key>
		<string>329ca57c-c1db-11e8-a355-529269fb1459</string>
		<key>api</key>
		<string>https://tr.technolab.com.ru/v1</string>
	</dict>
	<key>modules</key>
	<dict>
		<key>tabs</key>
		<array>
			<string>BestEvents</string>
			<string>Places</string>
			<string>Home</string>
			<string>Map</string>
			<string>Profile</string>
		</array>
		<key>languages</key>
		<array>
			<string>ru</string>
		</array>
	</dict>
</dict>
</plist>
