<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>372075957857-fsdgrd1d1vcobvkp053c0r61cgpe4s6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372075957857-fsdgrd1d1vcobvkp053c0r61cgpe4s6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAeqor1oJtzIBrVph-UAS3YAlEA2a9D1OE</string>
	<key>GCM_SENDER_ID</key>
	<string>372075957857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.primepass.Tretyakovka</string>
	<key>PROJECT_ID</key>
	<string>tretyakov-e2f65</string>
	<key>STORAGE_BUCKET</key>
	<string>tretyakov-e2f65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372075957857:ios:fb07dd2cba011b3b</string>
	<key>DATABASE_URL</key>
	<string>https://tretyakov-e2f65.firebaseio.com</string>
</dict>
</plist>