<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ad</key>
	<dict>
		<key>parameters</key>
		<dict>
			<key>adf_pw</key>
			<string></string>
			<key>adf_pv</key>
			<string></string>
			<key>adf_prr</key>
			<string></string>
			<key>adf_pdw</key>
			<string></string>
			<key>adf_pdh</key>
			<string></string>
			<key>adf_puid1</key>
			<string></string>
			<key>adf_puid2</key>
			<string></string>
			<key>adf_puid3</key>
			<string></string>
			<key>adf_puid4</key>
			<string></string>
			<key>adf_puid5</key>
			<string></string>
			<key>adf_puid6</key>
			<string></string>
			<key>adf_puid7</key>
			<string></string>
			<key>adf_puid8</key>
			<string></string>
			<key>adf_puid9</key>
			<string></string>
			<key>adf_puid10</key>
			<string></string>
			<key>adf_puid11</key>
			<string></string>
			<key>adf_pd</key>
			<string></string>
			<key>adf_pt</key>
			<string>b</string>
			<key>adf_p2</key>
			<string>fkba</string>
			<key>adf_p1</key>
			<string>ceqkj</string>
			<key>adf_ownerid</key>
			<string>234129</string>
		</dict>
		<key>block</key>
		<string>R-M-402082-1</string>
	</dict>
	<key>stringConstants</key>
	<dict>
		<key>social</key>
		<dict>
			<key>instagram</key>
			<string></string>
			<key>youtube</key>
			<string>https://www.youtube.com/user/mosplanetarium&lt;</string>
			<key>facebook</key>
			<string>https://www.facebook.com/tvoyplanetary</string>
			<key>vk</key>
			<string>https://vk.com/tvoyplanetary</string>
		</dict>
		<key>userAgreement</key>
		<string>https://primepass.ru/offers/planetarium_privacy_ru.html</string>
		<key>mainTitle</key>
		<string>Moscow Planetarium</string>
		<key>mailto</key>
		<string>support@primepass.ru</string>
		<key>rateUrl</key>
		<string>itms-apps://itunes.apple.com/us/app/moscow-fest/id1447346520?action=write-review&amp;mt=8</string>
		<key>placeTitle</key>
		<string>Halls</string>
		<key>placeTabBarURL</key>
		<string>/screens/byshort/5c1386d2e3ccec0017da28ab</string>
		<key>bestTabBarURL</key>
		<string>/screens/events?query[dictionary]=5a673061e97c730010ac6281&amp;query[dictionary_data.tags][0]=5bf3d301fbfa7e2810341f46</string>
	</dict>
	<key>appearance</key>
	<dict>
		<key>colors</key>
		<dict>
			<key>navigationText</key>
			<string>#000000</string>
			<key>bookButton</key>
			<string>#272361</string>
			<key>firstTint</key>
			<string>#272361</string>
			<key>secondTint</key>
			<string>#D71440</string>
		</dict>
	</dict>
	<key>thirdParties</key>
	<dict>
		<key>google</key>
		<string>AIzaSyCAD9obvpoSVhTaXZOCcIkfEYfxU9cNIsY</string>
		<key>crashlytics</key>
		<string></string>
		<key>amplitude</key>
		<string>37f378e8406a13357abae59ec352607f</string>
		<key>appmetrica</key>
		<string>9bba0d0a-8793-4f78-8780-711e4fc4118a</string>
		<key>facebook</key>
		<string>482345995612356</string>
		<key>vk</key>
		<string>6707926</string>
		<key>youtube</key>
		<string>AIzaSyAmyf3JNud6w0l_dfDXawS-OSTJdwoVGbA</string>
	</dict>
	<key>url</key>
	<dict>
		<key>apiToken</key>
		<string>e7bde07c-e776-11e8-9f32-f2801f1b9fd1</string>
		<key>api</key>
		<string>https://pl.technolab.com.ru/v1</string>
	</dict>
	<key>modules</key>
	<dict>
		<key>tabs</key>
		<array>
			<string>BestEvents</string>
			<string>Places</string>
			<string>Home</string>
			<string>Map</string>
			<string>Profile</string>
		</array>
		<key>languages</key>
		<array>
			<string>en</string>
			<string>ru</string>
			<string>zh</string>
		</array>
	</dict>
</dict>
</plist>
