<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stringConstants</key>
	<dict>
		<key>privacyPolicy</key>
		<string>https://prime-italy.me/Privacy_Policy.pdf</string>
		<key>social</key>
		<dict>
			<key>instagram</key>
			<string></string>
			<key>youtube</key>
			<string></string>
			<key>facebook</key>
			<string></string>
			<key>vk</key>
			<string></string>
		</dict>
		<key>userAgreement</key>
		<string>https://prime-italy.me/agreement.pdf</string>
		<key>mainTitle</key>
		<string>Marche Guide</string>
		<key>mailto</key>
		<string>info@prime-italy.me</string>
		<key>placeTitle</key>
		<string>Venues</string>
		<key>placeTabBarURL</key>
		<string>/screens/places</string>
		<key>bestTabBarURL</key>
		<string>/screens/events</string>
	</dict>
	<key>appearance</key>
	<dict>
		<key>colors</key>
		<dict>
			<key>navigationText</key>
			<string>#000000</string>
			<key>bookButton</key>
			<string>#8E2126</string>
			<key>firstTint</key>
			<string>#8E2126</string>
			<key>secondTint</key>
			<string>#D71440</string>
		</dict>
	</dict>
	<key>thirdParties</key>
	<dict>
		<key>google</key>
		<string>AIzaSyCkcUzG56OtBW34McEoflAIW2c_z-4xZOM</string>
		<key>crashlytics</key>
		<string></string>
		<key>amplitude</key>
		<string>eed09092f37527967957280f3d831f5a</string>
		<key>appmetrica</key>
		<string>c4fec605-cf1a-4c32-8779-ecaa10b7d7a5</string>
		<key>facebook</key>
		<string>1202009136645323</string>
		<key>vk</key>
		<string>7103215</string>
		<key>youtube</key>
		<string>AIzaSyClp9TskVAyQTu7ZKD--QVx4lMvtYRS5xI</string>
	</dict>
	<key>url</key>
	<dict>
		<key>apiToken</key>
		<string>a719e0ff-63e1-4a08-aa95-d5ee9578a4ef</string>
		<key>api</key>
		<string>https://pri.technolab.com.ru/v1</string>
	</dict>
	<key>modules</key>
	<dict>
		<key>tabs</key>
		<array>
			<string>BestEvents</string>
			<string>Places</string>
			<string>Home</string>
			<string>Map</string>
			<string>Profile</string>
		</array>
		<key>languages</key>
		<array>
			<string>en</string>
			<string>ru</string>
			<string>zh</string>
		</array>
	</dict>
</dict>
</plist>
